@model List<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create" class="btn btn-success">Add New User</a>

<table class="table table-bordered">
<tr>
    <td>Id</td>
    <td>User Name</td>
    <td>Email</td>
    <td>Delete</td>
    <td>Update</td>

</tr>
@foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">delete</a></td>
            <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>

